* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*📅 */
.calender {
  background-color: black;
  color: lightgray;
  width: 450px;
  height: 520px;
  border-radius: 10px;
  box-shadow: 4px 4px 48px rgba(0, 0, 0, 0.4);
}
.month {
  height: 120px;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.date h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.date p {
  font-size: 19px;
}
.weekdays {
  width: 100%;
  height: 50px;
  display: flex;
}
.weekdays div {
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}
.days div {
  font-size: 14px;
  margin: 3px;
  width: 57.5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.days div:hover:not(.empty) {
  border: 2px solid gray;
  cursor: pointer;
}
.today {
  background-color: lightseagreen;
}
